@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 300px;
  
    }

    div#imagem {
        float: left;
        height: 100%;
        width: 30%;
    }

    div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 400px;
    }

    div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    div#form {
        float: left;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em;
    }

    div#form > p{
        font-size: 1em;
        margin: 20px 0px;

    }
}